<ul class="comments">
	<% if comments.present? %>
		<% comments.each do |comment| %>
			<li class="comment">
				<p class="user">
					<%= comment.user.name %>
				</p>
				<p class="body">
				  <%= comment.body %>
				</p>
				<p>
				  <%= link_to('Remove', [@article, comment], method: :delete, data: { confirm: 'Are you sure?' })  if comment.editable_by?(current_user) %>
				</p>
				<%= render partial: 'comments/show', locals: { comments: comment.comments }%>
			</li>
		<% end %>
	<% end %>
	
	<li class="form">
		<a class="reply" href="javascript:void(0);">Reply</a>
        
		<%= render partial: 'comments/form', locals: { comment: comments.build(article: @article) }%>
	</li>

</ul>


