<!DOCTYPE html>
<html>
<head>
  <title>Magazine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
	<% if loggedin? %>
		<span> <%= current_user.name %> (<%= link_to 'Log Out', logout_path(path: request.original_url), method: :delete, data: { confirm: 'Are you sure?' } %>) </span>
	<% else %>
		<span>
		<a href="javascript:void(0);" id="login" > Login </a>
		<%= render 'sessions/form' %>
		</span>
	<% end %>
</div>
<div class="body">
	<%= yield %>
</div>

</body>
</html>
